/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css'); */
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* :root {
  --font-family: 'Gilroy', sans-serif;
  --main: #0c0c0c;
  --accent: #3350e9;
  --accent-hover: #1F3CD4;
  --background: #fbfbfb;
  --main-text: #fbfbfb;
  --cards: #f3f3f3;
  --basic-transiton: 250ms linear;
} */
